%h1 Privacy Policy
%p Loren Ipsum
.card{:style => "width: 18rem;"}
  %img.card-img-top{:alt => "...", :src => "./assets/simposio-vegan.jpg"}/
  .card-body
    %h5.card-title Card title
    %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
    %a.btn.btn-primary{:href => "#"} Go somewhere
%i.fa-solid.fa-user
= link_to "Landing Page - inicio", root_path
